html {
    background-color: rgb(0,25,20);
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

nav {
    background-color: rgb(11, 145, 11);
    padding: 10px;
    height: 40px;
}

#nav {
    width: 100%;
}

.navicon {
    height: 20px;
}

main {
    background-color: rgb(169, 184, 165);
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    height: 80%;
}

#projects {
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: rgb(169, 200, 165);
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;
}
