<!DOCTYPE html>
<html lang="<%= language -%>" style="height: 100%;">
	<head>
		<%- head %>
	</head>
	<body class="body <%- template or posttype or 'default' %>" id="body" style="margin: 0; padding: 0; background-color: darkgreen; height: 100%;">
		<%- navigation %>
		<main class="main" id="main" style="min-height:calc(100% - 76px);box-sizing:border-box;padding:20px;">
			<div style="border-radius:5px;background-color:green;box-sizing:border-box;padding:10px;">
				<%- post %>
			</div>
		</main>
		<%- footer %>
	</body>
</html>
