<header class="header" id="header" style="background-color: green;">
	<table style="width: 100%">
		<tr>
			<th><img src="<%= pageurl -%>/images/P E N G U I N.gif" style="height: 30px;"></th>
			<th><a href="<%= pageurl -%>"><p style="line-height: 100%;">Hudsonator72</p></a></th>
			<th style="width: 100%;"></th>
			<th><a href="https://github.com/hudsonator72"><img src="<%= pageurl -%>/content/images/github.svg" style="height: 30px;"></a></th>
			<th><a href="https://youtube.com/hudsonator72"><img src="<%= pageurl -%>/content/images/youtube.png" style="height: 30px;"></a></th>
			<th><a href="hudsonator72.itch.io"><img src="<%= pageurl -%>/content/images/itchio.svg" style="height: 30px;"></a></th>
			<th><a href="https://steamcommunity.com/id/Hudsonator72/"><img src="<%= pageurl -%>/content/images/steam.png" style="height: 30px;"></a></th>
		</tr>
	</table>
</header>
